<div class='row'>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class='table table-hover'>
			<thead>
				<tr>
					<th>
					</th>
					<th>
						Posted for shippers to see?
					</th>
					<th>
						Package #
					</th>
					<th>
						Shipping From:
					</th>
					<th>
						Shipping To:
					</th>
					<th>
						Package Deadline
					</th>
					<th>
						Price
					</th>
				</tr>
			</thead>

			<% @orders.each do |order| %>

			<tbody>
				<tr class='  '>
					<td>
					 <%= form_tag "view_sending_packages/#{order.id}", :method => :delete do %>
					 <%= submit_tag "Delete" %>
					 <% end %>
						
					</td>
					<% if order.confirmed %>
					<td>
						Yes
					</td>
					<% elsif %>
						<td>
						No
					</td>
					<% end %>
					<td>
						<%= order.id %>
					</td>
					<td>
						<%= order.shipping_from.address %>
					</td>
					<td>
						<%= order.shipping_to.address %>
					</td>
					<td>
						NA
					</td>
					<td>
						<%= number_to_currency(order.subtotal) %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>