<h1>Your Package Info:</h1>
<h2>Shipping From:</h2>
<h4>Address: </h4>
<p><%= @address_from %></p>
<br>
<br>
<h4>City: </h4>
<p><%= @city_from %></p>
<br>
<br>
<h4>State: </h4>
<p><%= @state_from %></p>
<br>
<br>
<h2>Shipping To:</h2>
<h4>Address: </h4>
<p><%= @address_to %></p>
<br>
<br>
<h4>City: </h4>
<p><%= @city_to %></p>
<br>
<br>
<h4>State: </h4>
<p><%= @state_to %></p>
<%= form_tag "/sending_shipments/#{@order.id}", :method => :patch do %>
	<p><%= submit_tag "Present package to prospective shippers!" %></p>
<% end %>