<%= form_tag sending_shipment_path do %>
		<h3>Shipping From:</h3>
		<%= label_tag "Adress:" %>
		<%= text_field_tag :shipping_from %>
		<br>
		<br>
		<%= label_tag "City:" %>
		<%= text_field_tag :shipping_from_city %>
		<br>
		<br>
		<%= label_tag "State:" %>
		<%= text_field_tag :shipping_from_state %>
		<br>
		<br>
		<h3>Shipping To:</h3>
		<%= label_tag 'Adress:' %>
		<%= text_field_tag :shipping_to_address %>
		<br>
		<br>
		<%= label_tag 'city:' %>
		<%= text_field_tag :shipping_to_city %>
		<br>
		<br>
		<%= label_tag 'State:' %>
		<%= text_field_tag :shipping_to_state %>
		<br>
		<br>
		<h3>More Info</h3>
		<%= label_tag 'What is the latest DATE your package can get to your desired destination? (Enter something like 09/15/15 )' %>
		<%= text_field_tag :date %>
		<br>
		<br>
		<%= label_tag 'What is the latest TIME your package can get to your desired destination? (Enter something like 21:30:00 )' %>
		<%= text_field_tag :time %>
		<br>
		<br>
		<%= label_tag 'package height:' %>
		<%= text_field_tag :package_height %>
		<br>
		<br>
		<%= label_tag 'package legnth:' %>
		<%= text_field_tag :package_length %>
		<br>
		<br>
		<%= label_tag 'package width:' %>
		<%= text_field_tag :package_width %>
		<br>
		<br>
		<%= label_tag 'package package weight:' %>
		<%= text_field_tag :package_weight %>
		<%= submit_tag "Get shipping details!" %>
	<% end %>