<div class='row'>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class='table table-hover'>
			<thead>
				<tr>
					<th>
					</th>
					<th>
						Package #
					</th>
					<th>
						Packg pickup distance
					</th>
					<th>
						Packg dropoff distance
					</th>
					<th>
						Package size
					</th>
					<th>
						Package Deadline
					</th>
					<th>
						COD
					</th>
				</tr>
			</thead>

			<% @orders.each do |order| %>

			<tbody>
				<tr class='  '>
					<td>
						<a href="/takers/<%=order.id%>">View</a>
					</td>
					<td>
						<%= order.id %>
					</td>
					<td>
						<%= Geocoder::Calculations.distance_between(Geocoder.coordinates(order.shipping_from.address), @user_address_from).round(2) %>
					</td>
					<td>
						<%= Geocoder::Calculations.distance_between(Geocoder.coordinates(order.shipping_to.address), @user_address_to).round(2) %>
					</td>
					<td>
						NA
					</td>
					<td>
						NA
					</td>
					<td>
						<%= number_to_currency(order.total) %>
					</td>
				</tr>
			</tbody>
			<% @counter += 1 %>
			<% sleep(12.0/24.0) %>
			<% end %>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>