<div class="row">
	<div class="col-sm-12">
		<%= form_tag sending_shipment_path, {:class => "form form-horizontal"} do %>
			<div class="form-group">
				<div class="col-md-5">
					<%= text_field_tag :questions_or_comments_to_sender, "", :class => 'form-control', :id => 'input-textarea', :placeholder => "Textarea", :rows => "3" %>
				</div>
			</div>
		<% end %>
	</div>
</div>












<%= form_tag new_talk_to_sender_path do %>
	<div class="">
		<%= text_field_tag :questions_or_comments_to_sender, :class => "whatever" %>
	</div>
	<%= hidden_field_tag :order_id, params[:order_id] %>
	<%= submit_tag "send questions or/and comments" %>
<% end %>